@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700;900&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.blog__title {
  background-color: rgba(255, 0, 255, 0.144);
  text-transform: uppercase;
  text-shadow: #15ff00e8 1px 0 10px;
  text-align: center;
  text-overflow: ellipsis;
  text-rendering: auto;
}

.post__image img {
  width: 100%;
  height: 300px;
}

.post__wrapper {
  border-radius: 26px;
  background: #e0e0e0;
  border-radius: 10px 10px 15px 15px;
  background: #86285f5e;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  margin: 20px 0px 0px 0px;
  padding-bottom: 30px;
}

.story__desc {
  padding: 15px 5px 20px 10px;
  justify-content: center;
}

.action__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.post__edit {
  color: #198754;
  margin-right: 20px;
  width: 10%;
  cursor: pointer;
}

.post__delete {
  cursor: pointer;
  color: rgba(255, 0, 0, 0.733);
}

::placeholder {
  font-size: 13px;
  float: right;
}

.form__label {
  font-weight: 500;
}
.blog__search{
    float: right;
    overflow: hidden;
}
.blog__search input {
  border-radius: 9px;
  padding-left: 10px;
  border: 1px dotted #362736;
}

.blog__search input:focus {
  outline: none;
  border: 1px solid #ffdaff;
}
