.container-one {
    background-color: #F5F5F5;
}

.body {
    background-image: url(../components/images/linsted-cropped.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin-bottom: 20rem;
}

.landing-page {
    margin-top: 3.8rem;
    background-color: rgba(22, 21, 21, 0.6);
    padding-bottom: 17rem;
}

.who-we-are {
    color: #fff;
    display: flex;
    width: 70%;
    margin: auto;
}

.icon {
    font-size: 2.3rem;
    margin-bottom: 0.8rem;
}

.section-1 {
    width: 60%;
    margin: auto;
}


.section-2 {
    color: black;
    background-color: #fff;
    margin-top: 10rem;
    width: 40%;
    padding: 4rem 2rem;
    border-radius: 8rem 1rem;
    font-size: 1.2rem;
    font-family: 'Inria Serif', Garamond, serif;
    font-weight: 100;
    font-style: italic;
}

.who-we-are h1 {
    padding: 10rem 0 2rem 0;
}

.slogan {
    font-size: 7rem;
    margin-bottom: 3rem;
}

.card-container {
    margin-top: -5rem;
    padding-bottom: 5rem;

}

.cards {
    width: 70%;
    margin: auto;
    display: flex;
    background-color: #fff;


}

.donation {
    width: 30%;
    margin: auto;
    text-align: center;
    border: 2px solid #F5F5F5;
    padding: 4rem;
}

.donation h2 {
    margin-bottom: 1rem;
}

/* Mission and vision */
/* mission */

.mission {
    display: flex;
    margin: 3rem 4rem;
}

.mission_statement {
    margin-top: 3rem;
    margin-right: 5rem;
}

.mission_statement h1 {
    color: rgb(228, 142, 37);
    font-size: 1.5rem;
}

.mission_statement h2 {
    font-size: 2.7rem;
    text-align: left;
    margin: 1.8rem 0;
}



.download_seven img {
    border-radius: 1.2rem;
}


/* vision */
.mission_vision {
    width: 70%;
    margin: auto;
}


.vision {
    display: flex;
}

.vision_images {
    display: flex;
    margin: 2rem 3rem 3rem 4rem;
}

.vision_statement {
    font-size: 1rem;
    margin-right: 10rem;
    margin-top: 5rem;

}

.vision_statement h1 {
    color: rgb(228, 142, 37);
    font-size: 1.5rem;
}

.vision_statement h2 {
    font-size: 2.7rem;
    text-align: left;
    margin: 1.8rem 0;
}

.vision_button {
    margin-top: 3rem;
}

.hungry_kid img {
    width: 12rem;
}

.hungry_kid {
    padding: 0.4rem;
}

.download_one img {
    border-radius: 0 3rem;
    box-shadow: 5px 5px 5px rgb(138, 149, 153);
}

.download_two img {
    border-radius: 3rem 0;
    box-shadow: 5px 5px 5px rgb(138, 149, 153);
}



.download_four img {
    border-radius: 3rem 0;
    margin-top: 3.5rem;
    box-shadow: 5px 5px 5px rgb(138, 149, 153);
}




@media (max-width: 850px) {
    .landing-page {
        margin-top: 6rem;

    }
}






/* 8FBEAE */
/* 1F1F1F */