.footer {
    background-color: #1F1F1F;
    color: #fff;

}

.admin-login-form {
    width: 25%;
}

/* 8FBEAE */
/* 1F1F1F */

.footer-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
}

.contacts {
    display: flex;
    padding-bottom: 1.6rem;
}

.contacts .icon {
    margin-right: 2rem;
    color: rgb(228, 142, 37);
}


.connect-with-us h5 {
    color: rgb(228, 142, 37);
}

.footer-columns h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
}

.footer-bottom {
    text-align: center;
    padding: 3rem 0;
    border-top: 0.1rem solid #5c5c5c;
    margin-top: 2rem;
}